// =======******====== Chef ======******======

#chef_part {
    padding: 40px 0;

    .container {

        .chef_head{
            
            h4 {
                color: #cd3131;
                font-size: 20px;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
            }

            h2{
                color: #333;
                font-size: 30px;
                font-weight: 900;
                font-family: 'Nunito Sans', sans-serif;
                margin-top: 8px;
                span{
                    color: #cd3131;
                }
            }
    
        }

        

        .chef_photos {
            margin-top: 40px;
            position: relative;
            transition: all linear.3s;
            // width: 300px;

            img {
                height: 400px;
            }

            .icon_img {
                position: relative;

                ul {
                    position: absolute;
                    top: -396px;
                    right: 23px;

                    li {
                        a {
                            i {
                                margin-top: 18px;
                                color: #666;
                                padding: 7px 9px;
                                border: 1px solid #fff;
                                border-radius: 50%;
                                background: #fff;
                            }
                        }
                    }
                }
            }

            .image_icon {
                position: relative;
                display: none;

                ul {
                    position: absolute;
                    right: 19px;
                    top: -343px;

                    li {

                        color: #666;

                        a {
                            i {
                                margin-top: 18px;
                                color: #666;
                                padding: 7px 9px;
                                border: 1px solid #fff;
                                border-radius: 50%;
                                background: #fff;
                                transition: all linear .3s;

                                &:hover {
                                    background: rgba(205, 48, 9, 0.8);
                                    ;
                                    color: #fff;
                                }
                            }


                        }
                    }
                }
            }

            &:hover {
                .image_icon {
                    display: block;
                }
            }



            .info {
                .info_img {
                    width: 45px;


                    img {
                        height: 40px;
                        padding: 7px 9px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        background: #fffddd;
                        margin-top: 10px;
                        margin-left: 42px;

                    }
                }

                .info_text {
                    margin-top: -30px;
                    position: relative;



                    a {
                        color: #666;
                        font-size: 13px;
                        font-weight: 600;
                        font-family: 'Nunito Sans', sans-serif;
                        padding: 3px 45px;
                        border: 1px solid #FDF5E6;
                        background: #fffddd;
                        -webkit-clip-path: polygon(98% 0, 100% 50%, 98% 100%, 0% 100%, 3% 51%, 0% 0%);
                        clip-path: polygon(98% 0, 100% 50%, 98% 100%, 0% 100%, 3% 51%, 0% 0%);

                        position: absolute;
                        left: 90px;
                        bottom: -23px;


                    }
                }

                .name {
                    h4 {
                        color: #666;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: 'Nunito Sans', sans-serif;
                        margin-top: 30px;
                    }
                }
            }
        }


        .slider_row {
            .slick-slide {
                padding: 0 12px;
            }
        }
    }
}



// =======******====== Chef ======******======