// =======******====== LAST ======******======

#last{
   
    .last_color{
        padding: 20px;
        background: #cd3131;
        p{
            color: #fff;
                font-size: 15px;
                font-weight: 600;
                font-family: 'Nunito Sans', sans-serif;
        }
    }
}


// =======******====== LAST ======******======